<div class="form-container">
  <h2>Registro de Compras</h2>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nº Orden *</label>
      <input formControlName="numeroOrden" placeholder="12345" />
    </div>
    <div class="form-group">
      <label>Monto *</label>
      <input type="number" formControlName="montoTotal" />
    </div>
    <div class="form-group">
      <label>Proveedor *</label>
      <input formControlName="proveedor" placeholder="ACME S.A." />
    </div>
    <div class="form-group">
      <label>Estado</label>
      <select formControlName="estado">
        <option *ngFor="let e of estados" [value]="e">{{ e }}</option>
      </select>
    </div>
    <button type="submit" [disabled]="formulario.invalid">Crear Compra</button>
  </form>

  <div *ngIf="successMessage" class="toast-success">
    {{ successMessage }}<span class="toast-arrow"></span>
  </div>
  <div *ngIf="errorMessage" class="toast-error">
    {{ errorMessage }}<span class="toast-arrow"></span>
  </div>
</div>

<hr />

<h3>Listado de Compras</h3>
<table>
  <tr><th>Orden</th><th>Monto</th><th>Proveedor</th><th>Estado</th><th>Acciones</th></tr>
  <tr *ngFor="let c of compras">
    <td>{{ c.numeroOrden }}</td>
    <td>{{ c.montoTotal }}</td>
    <td>{{ c.proveedor }}</td>
    <td>{{ c.estado }}</td>
    <td><button (click)="eliminar(c.id!)">🗑️</button></td>
  </tr>
</table>
